//======================================================================
// Resource file
//
// Written for the book Programming Windows CE
// Copyright (C) 2003 Douglas Boling
//======================================================================
#include <windows.h>
#include "resource.h"

IDI_MAIN ICON "terminal.ico"

ID_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", IDM_ABOUT
    END
END

ID_ACCEL ACCELERATORS DISCARDABLE
BEGIN
    "Q",       IDM_EXIT,   VIRTKEY, CONTROL, NOINVERT
    "S",       ID_SENDBTN, VIRTKEY, ALT
    VK_RETURN, ID_SENDBTN, VIRTKEY
END

IDD_ABOUT DIALOG DISCARDABLE 10, 10, 135, 40
STYLE  WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CENTER |
       DS_MODALFRAME
CAPTION "About"
BEGIN
    ICON ID_ICON, -1,   3,   5,  10,  10
    LTEXT "CeChat - Written for the book Programming Windows \
           CE Copyright 2003 Douglas Boling",
                                      -1,  30,   5, 102,  37
END

